# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.Magic DOTS Demo.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\Menn\Magic DOTS Demo\.idea\.idea.Magic DOTS Demo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
